<div class="container"  >

  <div class="row">
    <div class="col-sm-12" >
      <img src="../../../assets/image/home_finally.png" class="img-fluid" >
    </div>
  </div>

  <div *ngIf="!dateFetched" >
    <div class="row" >
      <div class="col-md-2 mt-5 mx-auto">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="dateFetched" >
    <div class="col-md-12">
      <hr>
      <div class="text-center" style="font-size: x-large"><strong>Our Best Books</strong></div>
      <hr>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-lg-3 col-sm-6 my-2" *ngFor="let book of fourRandomBooks">
          <div class="card">
            <div class="card-header">
              <div><strong><span>{{book.author}}</span></strong>
              </div>
            </div>
            <div class="card-body">
              <a class="cursor-pointer" (click)="onSelect(book)">
                <img src="{{serverPath}}/image/book/{{book.id}}.png" class="img-fluid" >
              </a>
            </div>
            <div class="card-footer">
              <div>Our Price: <span style="color: #db3208">$
                <span >{{book.ourPrice}}</span> </span><span><button mat-icon-button (click)="onAddToCart(book)">
                <mat-icon>add_shopping_cart</mat-icon></button></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div></div>
  <div class="row" >
    <div class="col-sm-4 my-4 ">
      <div class="card">
        <div class="card-body ">
          <a class="cursor-pointer" routerLink="/bookList">
            <img src="../../../assets/image/bestseller.png" class="img-fluid">
          </a>
        </div>
    </div>
    </div>
    <div class="col-sm-4 my-4">
      <div class="card">
        <div class="card-body ">
          <a class="cursor-pointer" routerLink="/hours">
            <img src="../../../assets/image/hours.png" class="img-fluid">
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 my-4">
      <div class="card">
        <div class="card-body ">
          <a class="cursor-pointer" routerLink="/faq">
            <img src="../../../assets/image/faq.png" class="img-fluid">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
