<div class="container"  >
  <div class="row " >
    <div class="col-sm-8 headline-pagination section-headline cursor-pointer" >
      <h2 ><span class="">Home</span></h2>
    </div>
    <div class="col-sm-4 image-logo mx-0 mr-0">
      <img src="../../../assets/image/logo.png" class="img-fluid" >
    </div>
    <div class="col-sm-11 image-wood" >
      <img src="../../../assets/image/wood.png" class="img-fluid" >
    </div>
    <div class="col-sm-11 line-position"  >
    <hr class="fat-line"/>
    </div>
    <div class="col-sm-12 line-position" >
      <hr class="slim-line"/>
    </div>
  </div>
  <div class="row ml-0" >

    <div class="col-sm-4 my-4 ">
      <div class="card">
        <div class="card-body ">
          <a class="cursor-pointer" routerLink="/bookList">
            <img src="../../../assets/image/bestseller.png" class="img-fluid">
          </a>
        </div>
    </div>
    </div>

    <div class="col-sm-4 my-4">
      <div class="card">
        <div class="card-body ">
          <a class="cursor-pointer" routerLink="/hours">
            <img src="../../../assets/image/hours.png" class="img-fluid">
          </a>
        </div>
      </div>
    </div>

    <div class="col-sm-4 my-4">
      <div class="card">
        <div class="card-body ">
          <a class="cursor-pointer" routerLink="/faq">
            <img src="../../../assets/image/faq.png" class="img-fluid">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="home-headline my-0"><span style=" background: #333;">Featured Books</span></div>
    <hr style="height: 2px;margin-top: -20px " />
    <img src="../../../assets/image/shelf.png" class="img-fluid image-shelf" >
  </div>

  <div class="row ml-5 mr-2" style="margin-top: -180px;" >
      <div class="col-sm-2">
        <img src="../../../assets/image/book1.png" class="img-fluid" style="width: 70%" >
      </div>

      <div class="col-sm-2">
        <img src="../../../assets/image/book1.png" class="img-fluid" style="width: 70%">
      </div>

      <div class="col-sm-2">
        <img src="../../../assets/image/book1.png" class="img-fluid" style="width: 70%">
      </div>

      <div class="col-sm-2">
        <img src="../../../assets/image/book1.png" class="img-fluid" style="width: 70%">
      </div>

      <div class="col-sm-2">
        <img src="../../../assets/image/book1.png" class="img-fluid" style="width: 70%">
      </div>

      <div class="col-sm-2">
        <img src="../../../assets/image/book1.png" class="img-fluid" style="width: 70%">
      </div>


  </div>
</div>
