<div class="container"  >
  <div></div>
  <div class="row">
    <div class="col-sm-12" >
      <img src="../../../assets/image/book_details.png" class="img-fluid" >
    </div>
    <div class="col-sm-12" >
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb ">
          <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/bookList">BookList</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{bookId}}</li>
        </ol>
      </nav>
    </div>
  </div>
  <div *ngIf="!dateFetched" >
    <div class="row" >
      <div class="col-md-2 mt-5 mx-auto">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="dateFetched" >
    <div class="col-sm-3">
    <img class="img-fluid" src="{{serverPath}}/image/book/{{book.id}}.png">
    </div>
    <div class="col-sm-9">
      <h3><span *ngIf="addBookSuccess" style="color: forestgreen">
        <mat-icon>check</mat-icon>Added to cart.
      </span></h3>
      <h3><span *ngIf = "notEnoughStock" style="color:red">Sorry, only<span>{{book.inStockNumber}}</span> In Stock</span></h3>
      <h3>{{book.title}}</h3>
      <div class="row">
        <div class="col-sm-5">
          <h5><strong>Author: </strong><span>{{book.author}}</span></h5>
          <p><strong>Publisher: </strong><span>{{book.publisher}}</span></p>
          <p><strong>Publication Date: </strong><span>{{book.publicationDate}}</span></p>
          <p><strong>Language: </strong><span>{{book.language}}</span></p>
          <p><strong>Category: </strong><span>{{book.category}}</span></p>
          <p><strong><span>{{book.format}}</span>: </strong><span>{{book.numberOfPage}}</span> pages</p>
          <p><strong>ISBN: </strong><span>{{book.isbn}}</span></p>
          <p><strong>Sipping Weight: </strong><span>{{book.shippingWeight}}</span> gram</p>
        </div>
        <div class="col-sm-7">
          <div class="card" style="border-width: 5px; margin-top: 20px">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
                <h4>Our Price: <span style="color: #db3208">$<span>{{book.ourPrice | number: '1.2-2'}}</span></span></h4>
                <p>List Price: <span style="text-decoration: line-through">$<span>{{book.listPrice | number: '1.2-2'}}</span></span></p>
                <p>You Save: $<span>{{book.listPrice-book.ourPrice | number: '1.2-2'}}</span></p>
                <span>Qty: </span>
                <select [(ngModel)]="qty" class="browser-default" style="width: 50px; display: inline">
                  <option *ngFor="let x of numberList" [ngValue]="x">{{x}}</option>
                </select>
                </div>
                <div class="col-sm-6">
                  <h4 *ngIf="book.inStockNumber>10" style="color:green;"> In Stock</h4>
                  <h4 *ngIf="book.inStockNumber<10 && book.inStockNumber > 0" style="color:green;">Only <span>{{book.inStockNumber}}</span>In Stock</h4>
                  <h4 *ngIf="book.inStockNumber==0" style="color:darkred;">Unavailable</h4>
                  <button mat-raised-button [disabled]="book.inStockNumber==0" (click)="onAddToCart()" class="mat-primary">Add to Cart</button>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div></div>
    <div class="col-sm-12 mt-3">
      <div class="card">
        <div class="card-header">
          Book Description
        </div>
        <div class="card-body">
          <div [innerHTML]="book.description"></div>
          <!--<div>{{book.description}}</div>-->
        </div>
      </div>
    </div>
  </div>

</div>
